@use "styles" as *;

.inset {
  position: relative;
}

.content {
  padding: 0 space(3) space(3);
}

.preferences {
  position: absolute;
  right: space(3);
  bottom: space(3);
  border-radius: var(--radius-lg) 0 var(--radius-lg) 0;
  z-index: layer("sticky");
  padding: space(2);
  background: color-mix(in srgb, var(--background) 80%, transparent);
  backdrop-filter: blur(rem(16));
  -webkit-backdrop-filter: blur(rem(16));
}

@include from("md") {
  .content {
    padding-left: space(4);
  }
}