@use "styles" as *;

.root {
  display: grid;
  justify-content: center;
}

.content {
  min-width: rem(180);
}

.item {
  cursor: pointer;
}

.triggerIcon {
  min-width: rem(24);
  min-height: rem(28);
}

.trigger {
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
}
