@use "styles" as *;

.group {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: calc(var(--spacing) * var(--toggle-group-gap));
  border-radius: var(--radius-md);
}

.item {
  width: auto;
  min-width: 0;
  flex-shrink: 0;
  padding-inline: space(3);

  &:focus,
  &:focus-visible {
    z-index: 1;
  }

  &[data-spacing="0"] {
    border-radius: 0;
    box-shadow: none;

    &:first-child {
      border-radius: var(--radius-md) 0 0 var(--radius-md);
    }

    &:last-child {
      border-radius: 0 var(--radius-md) var(--radius-md) 0;
    }

    &:not(:first-child) {
      margin-left: -1px;
    }
  }
}
