@use "styles" as *;

.form {
  display: flex;
  flex-direction: column;
  gap: space(2);
}

.completed {
  height: rem(132);
}

.actions {
  display: flex;
  gap: space(2);
  justify-content: flex-end;
  margin-top: space(2);
}
