@use "styles" as *;

.container {
  position: relative;
  width: 100%;
}

.inputContainer {
  width: 100%;
}

.input {
  padding-right: rem(40);
}

.errorOverlay {
  right: rem(40);
}

.toggle {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  width: rem(34);
  height: auto;
  color: var(--muted-foreground);
  border-radius: 0 var(--radius-md) var(--radius-md) 0;

  &:hover {
    color: var(--foreground);
    background: transparent;
  }
}

.srOnly {
  @include visually-hidden;
}
