@use "styles" as *;

.form {
  display: flex;
  flex-direction: column;
  gap: space(2);
}

.successMessage {
  position: relative;
  margin-top: space(3);
  padding: space(4);
  color: var(--foreground);
  background: var(--background);
  border: 1px solid var(--border);
  border-radius: var(--radius-lg);
  font-size: rem(13);
  line-height: var(--leading-tight);

  @include transition-colors;

  p {
    margin: 0;
  }
}

.successLabel {
  position: absolute;
  top: 0;
  left: space(4);
  max-width: calc(100% - #{space(8)});
  padding-inline: space(2);
  overflow: hidden;
  color: var(--primary);
  background: var(--background);
  font-size: rem(11);
  font-weight: 600;
  line-height: 1;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  transform: translateY(-50%);
}

.actions {
  display: flex;
  gap: space(2);
  justify-content: flex-end;
  margin-top: space(2);
}
