@use "styles" as *;

.topbar {
  position: sticky;
  top: space(3);
  z-index: layer("sticky");
  display: flex;
  height: rem(64);
  gap: space(3);
  align-items: center;
  margin: space(3);
  padding: 0 space(4);

  background: transparent;
  border: none;

  &::before {
    position: absolute;
    z-index: -1;
    top: space(-3.75);
    left: space(-3.75);
    width: calc(100% + #{space(6.75)});
    height: rem(64);
    background: color-mix(in srgb, var(--background) 95%, transparent);
    backdrop-filter: blur(rem(16));
    content: "";
  }

  &::after {
    position: absolute;
    inset: 0;
    z-index: 0;
    background: var(--background);
    border: 1px solid var(--border);
    border-radius: var(--radius-xl);
    box-shadow: var(--shadow-xs);
    content: "";
  }

  > * {
    position: relative;
    z-index: 1;
  }
}

.navigation {
  display: flex;
  min-width: 0;
  flex: 1;
  gap: space(3);
  align-items: center;
}

.navigationSeparator {
  height: rem(20);
}

.breadcrumb {
  min-width: 0;
  overflow: hidden;
}

@include from("md") {
  .topbar {
    margin-left: space(4);
  }
}
